# Diretórios comuns para ignorar em projetos PHP

# Dependências do Composer
/vendor/

# Diretórios de cache do Composer e PHP
/.cache/
/.phpunit.result.cache

# Arquivos de log e debug
*.log
*.out
*.err

# Configurações e arquivos temporários do ambiente local
.env
.env.local
.php-version
.phpenv
*.phpunit.result.cache

# Arquivos de cache de sessão e uploads temporários
sessions/
uploads/
tmp/

# Relacionados ao sistema operacional
.DS_Store
Thumbs.db

# Relacionados ao IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Relacionados ao servidor web local
webserver.pid

# Outros arquivos e pastas gerados
composer.lock
node_modules/
npm-debug.log
yarn-error.log

# Ignorar relatórios de cobertura de testes
coverage/
.php_cs.cache

# Ignorar arquivos do PHPUnit
phpunit.xml
phpunit.xml.dist
